*{
  padding: 0;
  margin: 0;
}
.app_main_content{
  display: flex;
}
.app_main_searched_content{
  display: flex;
  background-color: #f9f9f9;
}

@media screen and (max-width:1120px){
  .app_main_searched_content{
    display:flex;
    flex-direction:column;
  }
}